$bg-color: #f5f5f5;
$tnt-page-padding: 30upx;
$tnt-main-color: #6641dc;
$tnt-main-green: rgb(0, 198, 87);
$tnt-img-host: "http://img.zukmb.cn/icons";

.mt-30 {
  margin-top: 30upx;
}

.tnt-bg-main-color {
  background-color: $tnt-main-color;
}

.flex {
  display: flex;
}

.jc {
  justify-content: center;
}

.fc {
  flex-direction: column;
}

.ac {
  align-items: center;
}

.jb {
  justify-content: space-between;
}

.txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@import 'page.scss';