$bg-color: #f5f5f5;
$tnt-page-padding: 30upx;
$tnt-main-color: #6641dc;
$tnt-main-green: rgb(0, 198, 87);
$tnt-img-host: "http://img.zukmb.cn/icons";

.mt-30 {
  margin-top: 30upx;
}

.tnt-bg-main-color {
  background-color: $tnt-main-color;
}

.flex {
  display: flex;
}

.jc {
  justify-content: center;
}

.fc {
  flex-direction: column;
}

.ac {
  align-items: center;
}

.jb {
  justify-content: space-between;
}

.txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jiangqie-col-5 {
  width: 45.66666667%;
}
.jiangqie-col-7 {
  width: 54.33333333%;
}

.jiangqie-copyinfo {
  padding: 60rpx;
  text-align: center;
  image {
    border-radius: 100rpx;
    height: 100rpx;
    margin-bottom: 40rpx;
    width: 100rpx;
  }
  view {
    color: #ccc;
    font-size: 22rpx;
    font-weight: 200;
  }
}


@import 'page.scss';
@import './listView.scss';
@import './article.scss';
